* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "sans serif";
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

main {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 37%;
  margin-right: 36.2%;
  padding-bottom: 40px;
  border-radius: 20px;
  background: #fff;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
header {
  text-align: center;
  color: rgb(13, 13, 13);
}
#title {
  font-size: 30px;
}

#description {
  font-size: 14px;
  /* 10px and 0.6rem is the samething */
  margin-top: 0.6rem;
  padding: 0.5rem;
}
#survey-form {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}
.form-group {
  margin: 15px;
  display: flex;
  gap: 2;
  flex-direction: column;
}
.role {
  display: flex;
}
input,
select {
  margin-top: 5px;
  border: none;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}
input{
  border: .5px solid #ccc;
  border-bottom-width: 1px;
  border-color: #9b59b6;
}

select{
    border: .5px solid #9b59b6;
}
label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1px;
}
#name-label,
#email-label,
#number-label {
    color: #9b59b6;
}
.select-role,
.remark {
  margin-bottom: 6px;
  color: #71b7e6;
}
select {
  padding-right: 10px;
}
.radio-group {
  display: flex;
}

[type="radio"] + label {
  margin-top: 12px;
  margin-left: 10px;
}
.checkbox-group {
  display: flex;
}
[type="checkbox"] + label {
  margin-top: 12px;
  margin-left: 10px;
}
textarea {
  height: 150px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  border: .5px solid #9b59b6;
}
#submit {
  padding-top: 1px;
  height: 50px;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  outline: none;
  border: none;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  cursor: pointer;
}
#submit:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    
}
